
<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Course ID</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
    <% @sched.each do |s| %>
      <tr>
        <td>
          <%= s.courseId %>
        </td>
        <td>
          <%= s.startTime %>
        </td>
        <td>
          <%= s.endTime %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', user_profile_path, :class => 'btn btn-primary' %>