/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.highlight {
    padding: 10px;
    margin: -10px;
    background-image: linear-gradient(
        to bottom right,
        transparent 50%,
        #b393d3 50%
      ),
      linear-gradient(#b393d3, #b393d3),
      linear-gradient(to top left, transparent 50%, #b393d3 50%);
    background-repeat: no-repeat;
    background-size: 10px 40px, calc(100% - 20px) 40px, 10px 40px;
    background-position: left center, center, right;
}