<!-- app/views/teaching_assistants/show.html.erb -->
<h1>Teaching Assistant Details</h1>

<p><strong>Name:</strong> <%= @teaching_assistant.name %></p>
<p><strong>Uni:</strong> <%= @teaching_assistant.uni %></p>
<p><strong>Class ID:</strong> <%= @teaching_assistant.class_id %></p>

<!-- Add any other details you want to display -->

<%= link_to 'Back', teaching_assistants_path %>
